/ [nU2.0] CMC_CTSC.lnk
/2023-2024_study_data
/25.jpg
/250310_weight_l0_b0_i1_d0_s1_loss1.h5
/Anki.lnk
/C
/desktop.ini
/dimeple_app_test_set.xlsx
/dimple_app_test
/h5tojson.ipynb
/ITK-SNAP.lnk
/model_folded.h5
/nilabel_merge.exe
/Notion Calendar.lnk
/Notion.lnk
/Sacral_250213
/saved_dimple
/save_model.ipynb
/script
/trial_script
/U - Chrome.lnk
/Visual Studio Code.lnk
/web_graph
/web_model
/web_model_folded